.intro-section {
  background-color: var(--primary-color);
  padding-top: 8rem;
  height: 135vh;
  color: var(--secondary-color);
  border-bottom-right-radius: 15rem;
}


.intro-section-img img {
  width: 80%;
  border-radius: 2rem;
}

.intro-section-desc h1 {
  font-size: 66px;
}

.intro-section-desc p {
  margin: 2rem 0;
  line-height: 2rem;
  font-size: 24px;
  padding-right: 100px;
}

.intro-section-btns {
  margin: 2rem 0;
}

.intro-section-btns button:nth-child(1) {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.9rem 2rem;
  border-radius: 2rem;
  border: none;
}

.intro-section-btns button:nth-child(2) {
  background-color: transparent;
  color: var(--secondary-color);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  border: none;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;

}

@keyframes fade-left {
  0% {
    transform: translateX(-10%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(10%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.feature-section {
  padding-top: 5rem;
}

.feature-section-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  padding: 1rem;
  width: 280px;
}

.feature h2 {
  color: var(--text-color);
  font-size: 20px;
  margin: 1rem 0;
}

.feature p {
  color: var(--subtext-color);
  font-size: 15px;
  margin: 1rem 0;
  line-height: 2rem;
}

.core-feature-section {
  padding-top: 5rem;
}

.core-feature-section-img img {
  width: 70%;
  border-radius: 2rem;

}

.core-feature {
  display: flex;
  margin: 3rem 0;
}

.core-feature img {
  margin: 0 1rem 0 0;
  border-radius: 2rem;

}

.core-feature div h2 {
  color: var(--text-color);
  font-size: 18px;
}

.core-feature div p {
  line-height: 2rem;
  color: var(--subtext-color);
  font-size: 15px;
  margin-top: 1rem;
  width: 70%;
}

.quality-features-section {
  padding-top: 8rem;
}

.quality-features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.core {
  width: 300px;
}

.core img {
  width: 100%;
  margin: 0 3rem 0 0;
}

.core div:nth-child(2) {
  margin-left: 1rem;
}

.core div p {
  width: 100%;
}

.core-section {
  padding-top: 7rem;
}

.getStarted-btn {
  border: none;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 0.7rem 2rem;
  border-radius: 3rem;
  margin: 1rem 0;
}

.getStarted img {
  width: 100%;
  border-radius: 1rem;

}

.functions {
  margin: 4rem 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.function-section {
  background-color: var(--primary-color);
  color: #ffffff;
  margin-top: 5rem;
  padding: 5rem 0 3rem 0;
}

.function {
  width: 250px;
}

.function div:nth-child(2) h2 {
  font-size: 20px;
  margin-top: 2rem;
}

.function div:nth-child(2) p {
  font-size: 15px;
  color: #c8e4db;
  line-height: 2rem;
}

.number {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 35%;
  width: 30%;
  color: var(--primary-color);
  padding: 0.8rem;
}

.testimonial-section {
  margin-top: 5rem;
}

.payment-section {
  padding-top: 6.5rem;
}

.payment-section-img img {
  width: 90%;
  border-radius: 1rem;

}

.download {
  margin: 2rem 0;
}

.download img {
  margin-right: 1rem;
  border-radius: 1rem;

}

@media screen and (max-width: 780px) {
  .intro-section-img img {
    display: none;
  }

  .intro-section {
    height: 100vh;
  }

  .intro-section-desc h1 {
  font-size: 40px;
}
}
