footer {
    background-color: var(--primary-color);
}

.footer-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-links {
    margin: 5rem 0;

}

.footer-links h2{
    color: #fff;
    font-size: 20px;
    margin: 2rem 0;

}

.footer-links p {
    font-size: 15px;
    cursor: pointer;
    color: #fff;
}

.footer-links.foot-des{
    width: 35%;
}



.foot-des img{
    width: 20%;
}

@media screen and (max-width: 800px) {
    
    .footer-section {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media screen and (max-width: 300px) {
    
    .footer-section {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }

    .footer-links {
        margin: 0;
    }
}